body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: orange;
    height: 100px;
    display: flex;
}

p{
    margin: 0;
    align-self: center;
}

nav{
    position: absolute;
    left: 45%;
    align-self: center;
}


.homeTab{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.homeTab div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img{
    width: max(25%,200px);
    height: auto;
    align-self: center;
}
