@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color:rgb(255, 181, 52);
    --secondary-color:rgb(251, 246, 238);
    --tertiary-color:rgb(193, 242, 176);
    --forth-color:rgb(101, 183, 65);
    font-family: "Noto Sans", sans-serif;
    /* color: var(--forth-color); */
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--primary-color);
}

header{
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    height: 100px;
    display: flex;
    align-items: center;
}

p{
    margin: 0;
}

.companyName{
    font-size: 3rem;
    margin-left: 75px;
    font-weight: 700;
    cursor: pointer;
}

nav{
    position: absolute;
    left: 40%;
    display: flex;
    gap: 50px;
}

nav button{
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: var(--tertiary-color);
    font-size: 1.2rem;
    /* color: white; */
    border-radius: 15px;
    /* border: 2px white solid; */
}

.homeTab{
    padding: 50px 0px 0px 75px;
    display: flex;
    justify-content: center;
    gap: 45px;
}

.homeTab > div:nth-child(1){
    width: max(40%,200px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.homeTab > div:nth-child(2){
    flex: 1;
}

.homeTab > div:nth-child(2) img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.homeTab > div:nth-child(1) > div:nth-child(1) h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

.homeTab > div:nth-child(1) > div:nth-child(1) p{
    font-size: 3.5rem;
}

.homeTab > div:nth-child(1) > div:nth-child(2) p{
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.reservation{
    width: max(20%,50px);
    height: 50px;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: var(--tertiary-color);
    /* color: white; */
    border-radius: 10px;
}

/*css for menu tab*/

.menuTab > ul{
    /* list-style: none; */
    margin: 0;
    padding: 0;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.menuTab > ul > li{
    width: 45%;
    display: flex;
    gap: 25px;
    border: 3px black solid;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.menuTab > ul > li h2{
    font-size: 2.5rem;
    margin: 0;
}

.menuTab > ul > li p{
    font-size: 1.3rem;
    margin: 0;
}

.dishImg{
    align-self: flex-end;
}

.dishImg > img{
    width: 200px;
    height: 175px;
}


/*css for contact */

.contactTab{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.contactTab ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    border: 2px black solid;
    border-radius: 10px;
    gap: 20px;
    padding-top: 20px;
}

.contactTab ul li:not(.contactImgs){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.contactTab h2,p{
    margin: 0;
}

.contactTab h2{
    font-size: 2rem;
}

.contactTab p{
    font-size: 1.2rem;
    cursor: pointer;
}

.contactImgs{
    display: flex;
    margin-top: 15px;
    margin-bottom:  10px;
    padding-bottom: 10px;
    gap: 15px;
}

.contactTab img{
    width: 75px;
    height: 75px;
    cursor: pointer;
}




